@model Ecommerce.Library.Entity_Models.PurchaseOrder

<form>
<div class="row ">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Date" class="control-label">Date</label>
            <input type="date" asp-for="Date"  class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="RefNo" class="control-label">RefNo</label>
            <input type="text" asp-for="RefNo" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="productId">Product</label>
            <select id="productId" class="form-control">
                <option value="">Select...</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="qty">Quantity</label>
            <input type="text" id="qty" class="form-control"/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <textarea type="text" id="remarks" class="form-control" ></textarea>
        </div>
    </div>
    <div class="col-md-2 align-bottom">
        <div class="form-group">
           <input type="button" value="Add Item" class="btn btn-success" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered table-responsive-md">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Qty
                    </th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody id="tb_items">
                <tr>
                    <td>
                        <input type="hidden" name="orderitems[0].productId" value="1"/>
                        Lalmohon
                    </td>
                    <td>
                        <input type="hidden" name="orderitems[0].qty" value="2" />
                        2
                    </td>
                    <td>
                        <input type="hidden" name="orderitems[0].remarks" value="good..." />
                        Good...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>

</form>