@{
    Layout = null;
}


<!doctype html>
<head>
    <title>Product Create</title>
</head>
<body>
    <h1>
        Product Create
    </h1>
    <div>
        <form method="post">
            <p>
                Name: <input type="text" name="Name" />
            </p>
            <p>
                Code: <input type="text" name="Code" />
            </p>
            <p>
                Price: <input type="text" name="Price" />
            </p>
            <p>
                Warehouse Location: <input type="text" name="WarehouseLocation" />
            </p>
            <p>
                <input type="submit" value="Save" />
            </p>
        </form>
    </div>
</body>