@model ICollection<EcommerceApp.Entity_Models.Product>

@{
    Layout = null;
    int serialNo = 0;    
}

<!DOCTYPE html>


<head>
    <title>Products</title>
</head>
<body>
    <div>
        <h1> Welcome to my Products Page</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>WH Loc</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Code</td>
                            <td>@product.Price</td>
                            <td>@product.WarehouseLocation</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>